// Pico.css (https://picocss.com)
@import "@picocss/pico/scss/pico";

// Bootstrap (https://getbootstrap.com/)
$include-column-box-sizing: true;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/mixins/utilities";
@import "bootstrap/scss/mixins/banner";
@include bsBanner(Grid);
@import "bootstrap/scss/mixins/lists";
@import "bootstrap/scss/mixins/breakpoints";
@import "bootstrap/scss/mixins/container";
@import "bootstrap/scss/mixins/grid";
@import "bootstrap/scss/vendor/rfs";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/utilities";
$utilities: map-merge(
        $utilities,
        (
            "width": map-merge(
                    map-get($utilities, "width"),
                    (
                        values: map-merge(
                                map-get(map-get($utilities, "width"), "values"),
                                (10: 10%),
                        ),
                    ),
            ),
        )
);

@import "bootstrap/scss/utilities/api";

.row {
    --bs-gutter-x: 0;
}
